{%- import "macros/svgs.jinja" as svg -%}
{%- import "macros/table/variables.jinja" as vars with context %}
{%- include "macros/table/js_additions.jinja" with context %}

<script>
  // Some Start Line
    require(["jquery", "jhapi", "utils"], function (
      $,
      JHAPI,
      utils
    ) {
      var base_url = window.jhdata.base_url;
      var api = new JHAPI(base_url);
      var user = window.jhdata.user;
      const logDebug = false;


      {%- for service_id, service_options in config.frontend_config.get("services", {}).get("options", {}).items() %}
        {%- for button_key, button_func in service_options.get("summaryButtons", {}).items() %}
          $(document).on("click" , `button[id^='{{ service_id }}-'][id$='-{{ button_key }}-btn-header']`, function() {
            const $this = $(this);
            const forUser = $this.attr('data-user') || user;
            {{ button_func }}($this.attr('data-service'), $this.attr('data-row'), $this.attr('data-element'), {}, forUser, api, base_url, utils)
          });
        {%- endfor %}
      {%- endfor %}

      const observer = new MutationObserver((mutationsList) => {
        for (let mutation of mutationsList) {
          if (mutation.type === "attributes") {
            const attrName = mutation.attributeName;
            const newValue = mutation.target.getAttribute(attrName);
            const callbackFunction = mutation.target.dataset[attrName.replace(/^data-/, "") + "Callback"];
            if (callbackFunction && typeof window[callbackFunction] === "function") {
              window[callbackFunction]($(mutation.target), newValue);
            }
          }
        }
      });

      let optionElement;

      {%- for service_id, service_options in config.frontend_config.get("services", {}).get("options", {}).items() %}
        // Configure element specific elements:
        {%- for tab_id, tab_options in service_options.get("tabs", {}).items() %}
          {%- for side in tab_options.keys() %}
            {%- for element_id, element_options in tab_options.get(side, {}).items() %}
              {%- if element_options.get("input", {}).get("type", "") == "buttons" %}
                {%- for button in element_options.get("input", {}).get("options", {}).get("buttons", []) %}
                  {% set trigger = element_options.get("input", {}).get("options", {}).get(button, {}).get("trigger", false) %}
                  {%- if trigger %}
                    {%- set button_options = element_options.get("input", {}).get("options", {}).get(button, {}) %}
                    $(document).on("click", `[id^='{{ service_id }}-'][id$='-{{ button }}-btn']`, function(event) {
                      if (event.target !== this) {
                        return; // Ignore events bubbling up from child elements
                      }
                      logDebug && console.time("Button click ${rowId}-{{ button }}");
                      const $this = $(this);
                      const serviceId = $this.attr("data-service");
                      const rowId = $this.attr("data-row");
                      {{ button_options.get("trigger", "") }}(serviceId, rowId, "{{ button }}", {{ button_options | tojson }}, user, api, base_url, utils);
                      logDebug && console.timeEnd("Button click ${rowId}-{{ button }}");
                    });
                  {%- endif %}
                {%- endfor %}
              {%- else %}
                {%- set trigger_suffix = element_options.get("triggerSuffix", "input") %}                
                {%- if element_options.get("onInputChange", "") %}
                  $(document).on("input", `[id^='{{ service_id }}-'][id$='-{{ tab_id }}-{{ element_id }}-{{ trigger_suffix}}']`, function () {
                    const $this = $(this);
                    const serviceId = $this.attr("data-service");
                    const rowId = $this.attr("data-row");
                    {{ element_options["onInputChange"] }}("onChange", serviceId, rowId, "{{ tab_id }}", "{{ element_id }}", {{ element_options | tojson }});
                  });
                {%- endif %}
                {%- for input_key, input_func in element_options.get("onInput", {}).items() %}
                  $(document).on("input", `[id^='{{ service_id }}-'][id$='-{{ input_key }}-{{ trigger_suffix}}']`, function (event) {
                    if (event.target !== this) {
                      return; // Ignore events bubbling up from child elements
                    }
                    const $this = $(this);
                    const serviceId = $this.attr("data-service");
                    const rowId = $this.attr("data-row")
                    logDebug && console.time(`update ${rowId}-{{ element_id }}. Triggered by: ({{ input_key }})`);
                    {{ input_func }}("{{ input_key }}", serviceId, rowId, "{{ tab_id }}", "{{ element_id }}", {{ element_options | tojson }});
                    logDebug && console.timeEnd(`update ${rowId}-{{ element_id }}. Triggered by: ({{ input_key }})`);
                  });
                {%- endfor %}
                {%- for trigger_key, trigger_func in element_options.get("trigger", {}).items() %}
                  $(document).on("trigger_{{ trigger_key }}", `[id^='{{ service_id }}-'][id$='-{{ element_id }}-{{ trigger_suffix}}']`, function (event) {
                    if (event.target !== this) {
                      return; // Ignore events bubbling up from child elements
                    }
                    const $this = $(this);
                    const serviceId = $this.attr("data-service");
                    const rowId = $this.attr("data-row");
                    const elementId = $this.attr("data-element");
                    // logDebug && console.log(`update ${rowId}-{{ element_id }}. Triggered by: ({{ trigger_key }}) ...`);
                    // logDebug && console.time(`update ${rowId}-{{ element_id }}. Triggered by: ({{ trigger_key }}) ... done`);
                    const preValue = $this.val();
                    const dependencies = {{ element_options.get("dependency", {}) | tojson }};
                    let trigger = true;
                    {%- if trigger_key != "init" %}
                      for (const [key, allowedValues] of Object.entries(dependencies)) {
                        const currentValues = val(getInputElement(serviceId, rowId, key));
                        trigger = currentValues.some(value => {
                          const mappedValue = mappingDict?.[serviceId]?.[key]?.[value] ?? value;
                          return allowedValues.includes(mappedValue);
                        });
                        if ( !trigger ) {
                          break;
                        }
                      }
                    {%- endif %}
                    if ( trigger ) {
                      const a = $this.val();
                      {{ trigger_func }}("{{ trigger_key }}", serviceId, rowId, "{{ tab_id }}", "{{ element_id }}", {{ element_options | tojson }});
                      const b = $this.val();
                      const isEmpty = val => val === undefined || val === null || val === '' || (Array.isArray(val) && val.length === 0);
                      if ( a === b || isEmpty(a) && isEmpty(b) ) {
                        // console.log(`No change, do not trigger for ${rowId}-${elementId}`);
                      } else {
                        logDebug && console.log(`${elementId} changed (${a} -> ${b}),trigger change for ${rowId}-${elementId}`);
                        $this.trigger("change");
                      }
                    } 
                    // logDebug && console.timeEnd(`update ${rowId}-{{ element_id }}. Triggered by: ({{ trigger_key }}) ... done`);
                  });
                {%- endfor %}
                {%- if element_options.get("triggerOnChange", "") %}
                  {%- if element_options.get("input", {}).get("type", "") == "select" %}
                  {%- set changeAttr = "change_select" %}
                  {%- else %}
                  {%- set changeAttr = "change" %}
                  {%- endif %}
                  $(document).on("{{ changeAttr }}", `[id^='{{ service_id }}-'][id$='-{{ tab_id }}-{{ element_id }}-{{ trigger_suffix}}']`, function () {
                    logDebug && console.log("{{ element_id }} on {{ changeAttr }} ...");
                    logDebug && console.time("{{ element_id }} on {{ changeAttr }} ... done");
                    const $this = $(this);
                    const serviceId = $this.attr("data-service");
                    const rowId = $this.attr("data-row");
                    
                    {{ element_options["triggerOnChange"] }}("onChange", serviceId, rowId, "{{ tab_id }}", "{{ element_id }}", {{ element_options | tojson }});

                    {%- if element_options.get("input", {}).get("type", "") != "select" %}
                      {# If type=select, it will be trigger in table.js #}
                      logDebug && console.log("Trigger trigger_{{element_id}}");
                      $(`[id^='${serviceId}-${rowId}-']`).trigger(`trigger_{{ element_id }}`);
                      logDebug && console.log("After trigger_{{element_id}}");
                    {%- endif %}
                    // logDebug && console.time("update {{ element_id }}. Trigger by onChange");
                    // $(`[id^='${serviceId}-${rowId}-'][id$='-{{ element_id }}-input']`).trigger("change");
                    // logDebug && console.timeEnd("update {{ element_id }}. Trigger by onChange");
                    logDebug && console.timeEnd("{{ element_id }} on {{ changeAttr }} ... done");
                  });
                {%- endif %}
                {%- if element_options.get("observeAttribute", "") %}
                  (function() {
                    let element = $(`[id^='{{ service_id }}-'][id$='-{{ tab_id }}-{{ element_id }}-{{ trigger_suffix}}']`).get(0);
                    if (element) {
                      {%- for attr, function_name in element_options.get("observeAttribute", {}).items() %}
                        element.dataset["{{ attr }}Callback"] = "{{ function_name }}";
                      {%- endfor %}
                      observer.observe(element, { attributes: true });
                    }
                  })();
                {%- endif %}
                {%- set label_options = element_options.get("label", {}) %}
                {%- if label_options.get("type", "text") in ["textcheckbox", "texticoncheckbox", "texticonclickcheckbox"] %}
                  {%- for trigger_key, trigger_func in label_options.get("trigger", {}).items() %}
                    $(document).on("trigger_{{ trigger_key }}", `[id^='{{ service_id }}-'][id$='-{{ tab_id }}-{{ element_id }}-input-cb']`, function (event) {
                      if (event.target !== this) {
                        return; // Ignore events bubbling up from child elements
                      }
                      const $this = $(this);
                      const serviceId = $this.attr("data-service");
                      const rowId = $this.attr("data-row");
                      logDebug && console.log(`update ${rowId}-{{ element_id }}. Triggered by: ({{ trigger_key }}) ...`);
                      logDebug && console.time(`update ${rowId}-{{ element_id }}. Triggered by: ({{ trigger_key }}) ... done`);
                      {{ trigger_func }}("{{ trigger_key }}", serviceId, rowId, "{{ tab_id }}", "{{ element_id }}", {{ label_options.get("options", {}) | tojson }});
                      logDebug && console.timeEnd(`update ${rowId}-{{ element_id }}. Triggered by: ({{ trigger_key }}) ... done`);
                    });
                  {%- endfor %}
                  $(document).on("change", `[id^='{{ service_id }}-'][id$='-{{ tab_id }}-{{ element_id }}-input-cb']`, function() {
                    const $this = $(this);
                    const serviceId = $this.attr("data-service");
                    const rowId = $this.attr("data-row");
                    const checked = $this.prop("checked");
                    $(`[id^='${serviceId}-${rowId}-'][id$='-{{ element_id }}-input']`).prop("disabled", !checked);
                    $(`[id^='${serviceId}-${rowId}-'][id$='-{{ element_id }}-input']:not([data-collect-static])`).attr("data-collect", checked);
                    if ( !checked ) {
                      $(`[id^='${serviceId}-${rowId}-'][id$='-{{ element_id }}-input']`).removeClass("is-invalid");
                    }
                    
                    {%- if label_options.get("triggerOnChange", "") %}
                      {{ label_options["triggerOnChange"] }}("change", serviceId, rowId, "{{ tab_id }}", "{{ element_id }}", {{ label_options.get("options", {}) | tojson }});
                    {%- endif %}
                    $(`[id^='${serviceId}-${rowId}-']`).trigger(`trigger_{{ element_id }}`);
                    logDebug && console.time("update {{ element_id }}.");
                    $(`[id^='${serviceId}-${rowId}-'][id$='-{{ element_id }}-input']`).trigger("change");
                    logDebug && console.timeEnd("update {{ element_id }}.");
                  });
                {%- endif %}
              {%- endif %}
            {%- endfor %}
          {%- endfor %}
        {%- endfor %}
        {%- for button_id, button_options in service_options.navbar.items() %}
          {%- for trigger_key, trigger_func in button_options.get("trigger", {}).items() %}
            $(document).on("trigger_{{ trigger_key }}", `button[id^='{{ service_id }}-'][id$='-{{ button_id }}-navbar-button']`, function (event) {
              if (event.target !== this) {
                return; // Ignore events bubbling up from child elements
              }
              $this = $(this);
              const rowId = $this.attr("data-row");
              const serviceId = $this.attr("data-service");
              let trigger = true;
              const dependencies = {{ button_options.get("dependency", {}) | tojson }};
              for (const [key, allowedValues] of Object.entries(dependencies)) {
                const currentValues = val(getInputElement(serviceId, rowId, key));
                trigger = currentValues.some(value => {
                  const mappedValue = mappingDict[serviceId]?.[key]?.[value] ?? value;
                  return allowedValues.includes(mappedValue);
                });
                if ( !trigger ) {
                  break;
                }
              }
              if ( trigger ) {
                {{ trigger_func }}("{{ button_id }}", serviceId, rowId);
              }
            })
          {%- endfor %}
        {%- endfor %}
      {%- endfor %}
    });
  

// Some Start Line End

</script>

