{# 
  Different sites may use the functions slighty different
#}

{%- import "macros/table/variables.jinja" as vars with context %}
{%- import "macros/svgs.jinja" as svg -%}

<script type="text/javascript">


  // table_js_start
  

</script>
