{%- import "macros/table/config/announcement_all.jinja" as announcement_all %}
{%- import "macros/table/config/announcement.jinja" as announcement %}
{%- import "macros/svgs.jinja" as svg -%}

{%- macro tables(
  frontend_config,
  description
)%}
  <div id="toastContainer" class="position-fixed top-0 end-0 p-3"></div>
  <div id="global-content-div" class="container-fluid p-4" data-sse-reservations>
    {%- if announcement_all.show_announcement %}
      {{ announcement_all.announcement() }}
    {%- endif %}
    {%- if announcement.show_announcement %}
      {{ announcement.announcement() }}
    {%- endif %}
    <input id="service-input" class="form-control" data-collect="true" data-group="default" data-type="input" name="service" data-element="service" value="{{ frontend_config.get("services", {}).get("default", "jupyterlab") }}" style="display: none"/>

    {%- for service_id in frontend_config.get("services", {}).get("options", {}).keys() %}
      <div id="{{ service_id }}-table-div" class="table-responsive-md">
        {%- if description %}
          {{ description() }}
        {%- endif %}
        <table id="{{ service_id }}-table" class="table table-bordered table-striped table-hover table-light align-middle">
          <thead class="table-secondary">
            {%- if pagetype == vars.pagetype_workshop %}
              <th scope="col" width="1%"></th>
              <th scope="col" width="20%">Name</th>
              <th scope="col">Description</th>
              <th scope="col" class="text-center" width="10%">Status</th>
              <th scope="col" class="text-center" width="10%">Action</th>
            {%- elif pagetype == vars.pagetype_workshopmanager %}
              <th scope="col" width="1%"></th>
              <th scope="col" width="20%">Name</th>
              <th scope="col">Description</th>
              <th scope="col" class="text-center" width="10%">Action</th>
            {%- else %}
            <tr>
              <th scope="col" style="width: 1%;"></th>
              <th scope="col" style="width: 20%;">Name</th>
              <th scope="col">Configuration</th>
              <th scope="col" class="text-center" style="width: 10%;">Status</th>
              <th scope="col" class="text-center" style="width: 10%;">Action</th>
            </tr>
            {%- endif %}
          </thead>
          <tbody id="{{ service_id }}-tbody">
            {%- if pagetype == vars.pagetype_workshopmanager %}
            <tr id="{{ service_id }}-loading-tr">
              <th></th>
              <th></th>
              <th>
              <div style="display: flex; align-items: center; justify-content: center; height: 100%;">
              <div class="spinner-border" role="status" style="margin-right: 10px;">
              <span class="sr-only">Loading...</span>
              </div>
              <p style="margin: 0;">Loading ...</p>
              </div>
              </th>
              <th></th>
            </tr>
            {%- else %}
            <tr id="{{ service_id }}-loading-tr">
              <th></th>
              <th></th>
              <th>
              <div style="display: flex; align-items: center; justify-content: center; height: 100%;">
              <div class="spinner-border" role="status" style="margin-right: 10px;">
              <span class="sr-only">Loading...</span>
              </div>
              <p style="margin: 0;">Loading ...</p>
              </div>
              </th>
              <th></th>
              <th></th>
            </tr>
            {%- endif %}
          </tbody>
        </table>
      </div>
    {%- endfor %}

    {% if user.orm_user.shared_with_me and user.orm_user.shared_with_me|length > 0 and pagetype in [vars.pagetype_home, vars.pagetype_workshop] %}
      <div id="sharedservers-table-div" class="table-responsive-md">
        <p>Servers shared with you are listed here. (Refresh page to update list)</p>
        <table id="sharedservers-table" class="table table-bordered table-striped table-hover table-light align-middle">
          {#- TABLE HEAD #}
          <thead class="table-secondary">
            <tr>
              <th scope="col" width="10%">Service</th>
              <th scope="col">Owner</th>
              <th scope="col" width="20%">Server Name</th>
              <th scope="col" class="text-center" width="20%">Configuration</th>
              <th scope="col" class="text-center" width="10%">Status</th>
              <th scope="col" class="text-center" width="10%">Action</th>
            </tr>
          </thead>
          {#- TABLE BODY #}
          <tbody>
            {%- set repotypeMapping = {
                "gh": "GitHub",
                "git": "Git repository",
                "gl": "GitLab",
                "gist": "GitHub Gist",
                "zenodo": "Zenodo DOI",
                "figshare": "FigShare DOI",
                "hydroshare": "Hydroshare resource",
                "dataverse": "Dataverse DOI",
                "ckan": "CKAN dataset"
            } %}
            {% for sharedserver in user.orm_user.shared_with_me %}
              {% set sharedspawner = sharedserver.spawner %}
              {% set row_id = sharedspawner.name %}
              {% set service_id = sharedspawner.user_options.service | lower %}
              {%- set orig_user = sharedserver.owner %}
              {%- set ns = namespace(owner_name=orig_user.name) %}
              {%- for group in orig_user.groups %}
                {%- if group.name and group.name.startswith("email:") %}
                  {%- set ns.owner_name = group.name[6:] %}
                  {%- break %}
                {%- endif %}
              {%- endfor %}
              <tr id="sharedservers-{{ row_id }}-summary-tr" data-server-id="sharedservers-{{ row_id }}" 
                class="summary-tr existing-spawner-tr"
                data-service="{{ service_id }}"
                data-row="{{ row_id }}"
                data-spawner-type="default"
                data-spawner-active="{{ sharedspawner.active }}"
                data-spawner-ready="{{ sharedspawner.ready }}"
              >
                <th scope="row" class="service-td">{{ sharedspawner.user_options.service }}/{{ sharedspawner.user_options.option }}</th>
                <th scope="row" class="owner-td">{{ ns.owner_name }}</th>
                <th scope="row" class="owner-td">{{ sharedspawner.user_options.get("name", sharedspawner.name) }}</th>
                <td scope="row" class="config-td">
                  <div style="max-height: 152px; overflow: auto;">
                    <div class="row mx-3 mb-1 justify-content-between g-0">
                      <div id="{{ service_id }}-{{ row_id }}-config-td-div" class="row col-12 col-md-6 col-lg-12 d-flex align-items-center">
                        <div id="{{ service_id }}-{{ row_id }}-config-td-system-div" class="col text-lg-center col-12 col-lg-6">
                          <span class="text-muted" style="font-size: smaller;">System</span><br>
                          <span id="{{ service_id }}-{{ row_id }}-config-td-system">{{ sharedspawner.user_options.get("system", "") }}</span>
                        </div>
                        <div id="{{ service_id }}-{{ row_id }}-config-td-option-div" class="col text-lg-center col-12 col-lg-6">
                          <span class="text-muted" style="font-size: smaller;">Option</span><br>
                          <span id="{{ service_id }}-{{ row_id }}-config-td-option">{{ sharedspawner.user_options.get("option", "") }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <th scope="row" class="status-td" style="text-align: center">
                  {% if not sharedspawner.server %}
                  Not running
                  {% else %}
                  Running
                  {%- endif %}
                </th>

                <th scope="row" class="url-td text-center" style="white-space: nowrap">
                  <button type="button"
                    id="{{ service_id }}-{{row_id}}-open-btn-header"
                    class="btn btn-success"
                    data-service="{{ service_id }}"
                    data-row="{{ row_id }}"
                    data-user="{{ sharedserver.owner.name }}"
                    data-element="open"
                    {%- if not sharedspawner.server %}
                    style="display: none"
                    {%- endif %}>
                    {{ svg.open_svg | safe }} Open
                  </button>
                </th>
              </tr>
            {% endfor %}


          </tbody>
        </table>
      </div>
    {%-endif %}
  </div>  {#- container fluid #}

{%- endmacro %}

