{%- set first_row_id = "__new__" %}
{%- set pagetype_workshop = "workshop" %}
{%- set pagetype_workshopmanager = "workshopmanager" %}
{%- set pagetype_home = "home" %}
{%- set pagetype_share = "share" %}