{%- import "macros/svgs.jinja" as svg -%}

{%- set show_announcement = false %}
{%- macro announcement() %}
<div class="alert bg-info alert-dismissible fade show" style="color: #023d6b;" role="alert">
  <h4 class="alert-heading">       
    {{ svg.announcement_svg | safe }}
    <span class="align-middle">Scheduled Downtime - Dec 03, 2025, 07:00 to Dec 05, 2025, 09:00</span>
  </h4>
  The service will be unavailable during this period due to essential infrastructure maintenance. 
  We apologize for any inconvenience and appreciate your understanding. More information: <a href="https://status.jsc.fz-juelich.de/services/44#incident-1199" target="_blank" rel="noopener noreferrer">here</a>.
</div>
{%- endmacro %}
