{% extends "page.html" %}
{% block login_widget %}
{% endblock login_widget %}
{% block main %}
  {%- set orig_user = spawner.user %}
  {%- set ns = namespace(owner_mail=orig_user.name) %}
  {%- for group in orig_user.groups %}
    {%- if group.name and group.name.startswith("email:") %}
      {%- set ns.owner_mail = group.name[6:] %}
      {%- break %}
    {%- endif %}
  {%- endfor %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 class="text-center">Accept RTC invitation</h1>
        {%- if spawner.user_options.get("system", "None") in ["JSC-Cloud", "deNBI-Cloud"] %}
          <p class="lead">
            You have been invited to access {{ ns.owner_mail }}'s server
            {%- if spawner.user_options.get("name", spawner.name) %}: "{{ spawner.user_options.get("name", spawner.name) }}"{%- endif %}
          </p>
          {% if not spawner_ready %}
            <p class="alert alert-danger">
              The server is currently not running.
              After accepting permission, you may need to ask {{ ns.owner_mail }}
              to start the server before you can access it.
            </p>
          {% endif %}
          <form method="post" action="">
            <div class="card">
              <div class="card-header" style="color: black">
                By accepting the invitation, you will be granted the following permissions,
                restricted to this particular server:
              </div>
              <div class="card-body" style="color: black">
                {# these are the 'real' inputs to the form -#}
                <input type="hidden" name="_xsrf" value="{{ xsrf }}" />
                <input type="hidden" name="code" value="{{ code }}" />
                {% for scope_info in scope_descriptions -%}
                  <div class="form-check input-group">
                    <label>
                      <span>
                        {{ scope_info['description'] }}
                      </span>
                    </label>
                  </div>
                {% endfor -%}
              </div>
              <div class="card-footer">
                <button type="submit" class="form-control btn btn-success">Accept invitation</button>
                <p class="small" style="color: black">
                  After accepting the invitation, you will be redirected to <a href="{{ next_url | safe }}">{{ next_url }}</a>.
                </p>
              </div>
            </div>
          </form>
        {%- else %}
          <h3 style="text-align:center">RTC on {{ spawner.user_options.get("system", "None") }} is not allowed.</h3>
        {%- endif %}
      </div>
    </div>
  </div>
{% endblock main %}
