{%- extends "page.html" -%}

{%- block stylesheet -%}
  <link rel="stylesheet" href='{{static_url("css/legal.css")}}' type="text/css" />
  <style>
    p { margin-bottom: 0; }
    th, td { padding: 1rem 0.5rem !important; }
  </style>
{%- endblock -%}

{%- block main -%}

{% include "generator/dps_content.html" %}


{%- endblock -%}

{%- block script -%}
{{ super() }}
<script>
  function setTextContainerHeight() {
    let headerHeight = $("#header").outerHeight();
    let footerHeight = $("#footer").outerHeight();
    let h1Height = $("#dps-page>h1").outerHeight()
    let h = headerHeight + footerHeight + h1Height;
    $(".text-container").css({ height: 'calc(92vh - ' + h + 'px' });
  }

  $(document).ready(setTextContainerHeight);
  $(window).resize(setTextContainerHeight);
</script>
{%- endblock -%}
