{% extends "page.html" %}
{% if announcement_home is string %}
  {% set announcement = announcement_home %}
{% endif %}
{% block main %}
{%- from "check_aup.html" import aup_check with context -%}
{{ aup_check(frontendCollection.get("aup_name"), "home") }}

<div id="react-home-hook">
    <script type="module" defer="defer" src="../static/js/home.js"></script>
</div>
{% endblock main %}
{% block script %}
{%- import "macros/table/config/home.jinja" as config %}
  {{ super() }}
  <script>
  /* Jinja dependent functions:
  * Define get funtions to enable the use of jinja variables (supplied by the backend) within the JavaScript classes (otherwise they are not reachable)
  */
  window.getFrontendCollection = function() {
    return {{ frontendCollection | tojson}} || {};
  }
  window.getAuthState = function() {
    return {{ auth_state | tojson }} || {};
  }
  window.getFrontendConfig = function() {
    return {{ config.frontend_config | tojson }} || {};
  }
</script>
{% endblock script %}

