{%- extends "page.html" -%}

{%- block stylesheet -%}
  <link rel="stylesheet" href='{{static_url("css/home.css")}}' type="text/css"/>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm/css/xterm.css" />
  <script src="https://cdn.jsdelivr.net/npm/xterm/lib/xterm.js"></script>
{%- endblock -%}

{%- block main -%}
{%- import "macros/table/config/home.jinja" as config %}
{%- import "macros/svgs.jinja" as svg -%}
{%- import "macros/table/variables.jinja" as vars with context %}

{%- set pagetype = vars.pagetype_home %}

{%- set table_rows = {vars.first_row_id: {}} %}

{%- for spawner in spawners %}
  {%- if ( spawner != None and spawner.user_options != None and spawner.user_options.get("name", false) ) %}
    {%- set _ = table_rows.update({spawner.name: frontendCollection.get("decrypted_user_options").get(spawner.name, spawner.user_options)}) %}
  {%- endif %}
{%- endfor %}

{%- from "macros/table/table.jinja" import tables with context %}
{%- import "macros/table/content.jinja" as functions with context %}
{{ tables(
  config.frontend_config,
  functions.home_description,
  functions.home_headerlayout,
  functions.home_defaultheader,
  functions.home_firstheader,
  functions.row_content
) }}


{%- endblock -%}


{%- block script -%}
{%- import "macros/table/variables.jinja" as vars with context %}
{%- set pagetype = vars.pagetype_home %}
{%- import "macros/table/config/home.jinja" as config with context %}
{%- include "macros/table/elements_js.jinja" with context %}
{%- endblock %}
